



# Ignore node_modules and log files
node_modules/
server/node_modules

client/node_modules
*.log

# Ignore .env files
client/.env
client/.env.production
server/.env
server/.env.production

# Ignore build folder (optional, if you're building on the server)
client/build/
client/dist

# Ignore any OS-specific files
.DS_Store
Thumbs.db