.nav-links {
  /* border: 2px solid yellow; */
  list-style: none;
  display: flex;
  font-size: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}

@media (max-width: 960px) {
  .nav-links {
    font-size: 0.9rem;
    gap: 0.8rem;
  }
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
  }
}

.nav-links a {
  cursor: pointer;
  color: var(--navy);
  transition: all 0.25s;
}
.nav-links a:hover,
.active-link {
  color: var(--orange);
}

.nav-links a.active-link {
  color: var(--orange);
}
