button {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: var(--orange);
  color: #fff;
  font-size: 1rem;
  margin-top: 1rem;
  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: var(--yellow);
  color: var(--navy);
}
button:disabled {
  cursor: not-allowed;
  background-color: var(--blue);
  color: var(--navy);
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn-inverse {
  border: 2px solid var(--orange);
  padding: calc(0.5rem - 2px) 2rem;
  background-color: transparent;
  color: var(--orange);
}

.btn-inverse:hover {
  color: var(--blue);
  border: 2px solid var(--yellow);
  background-color: var(--yellow);
}
.btn-danger {
  background-color: rgb(196, 39, 39);
  color: #fff;
}
.btn-danger:hover {
  background-color: rgb(172, 24, 24);
  color: #fff;
}

.btn-small {
  padding: 0.5rem 1.5rem;
}
