.user-list {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
  column-gap: 5rem; /* Adjust the gap size as needed */
  row-gap: 2rem;
  /* border: 3px dotted greenyellow; */
  width: 750px;
}

@media (max-width: 768px) {
  .user-list {
    grid-template-columns: 1fr; /* Change to a single column */
  }
}
